 .u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
  min-height: 558px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1113px;
  margin: 2px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 73px 25px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 103px 0 25px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 44px auto 0 25px;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px 0;
}

.u-section-1 .u-image-1 {
  width: 397px;
  height: 268px;
  margin: 112px 81px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 463px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 1px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 465px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 390px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-1 .u-image-1 {
    width: 396px;
    height: 267px;
    margin-top: 83px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 823px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 547px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-1 .u-image-1 {
    height: 229px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-2 .u-group-1 {
  width: 775px;
  min-height: 160px;
  height: auto;
  margin: 37px 152px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 40px 30px 0 57px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-2 .u-image-1 {
  width: 137px;
  height: 137px;
  margin: 21px auto 0 162px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px 25px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 16px 16px 0 122px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 27px;
}

.u-section-2 .u-image-2 {
  width: 168px;
  height: 168px;
  margin: 9px auto 0 170px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 10px 2px 0 14px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 16px 0 144px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 151px;
  height: 151px;
  margin: 13px auto 0 172px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 12px 0 0 57px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 67px 0 124px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 152px;
  height: 152px;
  margin: 10px 175px 0 183px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 14px 0 0 24px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 0 0 145px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-2 .u-group-1 {
    min-height: 85px;
    margin-top: 34px;
    margin-right: 64px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 28px;
    margin-left: 59px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-right: -12px;
    margin-left: 73px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 8px;
    margin-right: -43px;
    margin-left: 141px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 8px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 19px;
    margin-right: -47px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-right: -71px;
    margin-left: 185px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 12px;
    margin-right: 153px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 17px;
    margin-right: -24px;
    margin-left: 84px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 10px;
    margin-right: 21px;
    margin-left: 129px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 11px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 17px;
    margin-right: -37px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 10px;
    margin-right: -71px;
    margin-left: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-2 .u-group-1 {
    min-height: 97px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 80px;
    margin-left: 109px;
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 4px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 22px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-right: -38px;
    margin-left: 38px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-right: -75px;
    margin-left: 75px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 91px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 13px;
    margin-right: -29px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-right: -45px;
    margin-left: 104px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 19px;
    margin-right: -40px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 11px;
    margin-right: -40px;
    margin-left: 80px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 358px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 7px;
    margin-right: 101px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 22px;
    margin-right: -40px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.125rem;
    margin-right: -104px;
    margin-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 484px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 10px 1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 774px;
    margin-right: 149px;
    margin-left: 57px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1390px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 17px;
    margin-left: 194px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
    margin-right: -96px;
    margin-left: 96px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 6px;
    margin-right: -186px;
    margin-left: 186px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 22px;
    margin-right: -96px;
    margin-left: 96px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 11px;
    margin-right: -127px;
    margin-left: 186px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 14px;
    margin-right: -140px;
    margin-left: 140px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 10px;
    margin-right: -154px;
    margin-left: 195px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 311px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 14px;
    margin-right: -120px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 21px;
    margin-right: -197px;
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-2 .u-group-1 {
    min-height: 131px;
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 29px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -11px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-2 .u-image-1 {
    width: 91px;
    height: 91px;
    margin-top: 0;
    margin-left: 116px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 12px;
    margin-right: -74px;
    margin-left: 95px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-2 .u-image-2 {
    width: 96px;
    height: 96px;
    margin-top: 5px;
    margin-left: 111px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -2px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: -66px;
    margin-left: 86px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-2 .u-image-3 {
    width: 105px;
    height: 105px;
    margin-left: 109px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 22px;
    margin-right: -21px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-right: -66px;
    margin-left: 86px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 413px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-2 .u-image-4 {
    width: 99px;
    height: 99px;
    margin-top: 8px;
    margin-left: 112px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 16px;
    margin-right: -29px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-top: 16px;
    margin-right: -109px;
    margin-left: 109px;
  }
} .u-section-3 {
  background-image: url("images/graveyard.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 761px;
}

.u-section-3 .u-image-1 {
  height: 558px;
  margin-top: 115px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 473px;
  margin: -558px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 30px 110px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  width: 422px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  width: 278px;
  margin: 47px auto 60px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  padding: 10px 76px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-3 .u-image-1 {
    height: 614px;
    margin-top: 101px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -601px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 82px;
    margin-left: 166px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-3 .u-image-1 {
    height: 787px;
    margin-top: 516px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -772px;
  }

  .u-section-3 .u-text-2 {
    width: 551px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 131px;
    margin-left: 167px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 37px;
    margin-right: 233px;
    margin-left: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1668px;
  }

  .u-section-3 .u-image-1 {
    height: 1048px;
    margin-top: 148px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 291px;
    margin-top: -1015px;
  }

  .u-section-3 .u-text-2 {
    width: 361px;
    margin-top: 24px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 38px;
    margin-right: 24px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 87px;
    margin-left: 119px;
    margin-right: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-3 .u-image-1 {
    height: 807px;
    margin-top: 67px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -790px;
    margin-left: 73px;
  }

  .u-section-3 .u-text-2 {
    width: 227px;
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: 171px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 31px;
    margin-right: 31px;
  }
}