 .u-section-1 {
  background-image: url("images/wallpaperflare.com_wallpaper4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1902px;
}

.u-section-1 .u-image-1 {
  width: 354px;
  height: 444px;
  margin: 205px auto 0;
}

.u-section-1 .u-image-2 {
  width: 354px;
  height: 444px;
  margin: -444px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -419px auto 0 50px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -11px auto 0 120px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 37px auto 0 59px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 39px auto 0 112px;
}

.u-section-1 .u-image-3 {
  width: 98px;
  height: 109px;
  margin: -500px auto 0 129px;
}

.u-section-1 .u-image-4 {
  width: 354px;
  height: 447px;
  margin: -38px 0 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: -419px 72px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -8px 136px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 31px 46px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 62px 119px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 109px;
  height: 109px;
  margin: -494px 120px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: -11px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -11px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 40px 425px 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 56px auto 0 505px;
}

.u-section-1 .u-image-6 {
  width: 129px;
  height: 129px;
  margin: -505px auto 0;
}

.u-section-1 .u-image-7 {
  width: 518px;
  height: 493px;
  margin: 477px 0 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 3rem;
  margin: -445px 75px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 86px;
  height: 88px;
  margin: -159px 216px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px 205px 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 289px 192px 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: -310px 88px 0 759px;
}

.u-section-1 .u-image-9 {
  width: 536px;
  height: 494px;
  margin: -429px auto 0 34px;
}

.u-section-1 .u-image-10 {
  width: 78px;
  height: 86px;
  margin: -517px auto 0 263px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 71px 769px 0 233px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 3rem;
  margin: -110px auto 0 177px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  margin: 31px 671px 0 177px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 7px auto 0 224px;
}

.u-section-1 .u-image-11 {
  width: 504px;
  height: 343px;
  margin: 172px 259px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 131px;
  height: 131px;
  margin: -336px 455px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 50px 281px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1827px;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 361px;
    margin-top: 261px;
  }

  .u-section-1 .u-image-2 {
    width: 287px;
    height: 360px;
    margin-top: -363px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -351px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-3 {
    width: 57px;
    height: 64px;
    margin-top: -402px;
    margin-left: 115px;
  }

  .u-section-1 .u-image-4 {
    width: 263px;
    height: 361px;
    margin-top: -16px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -313px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 83px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 6px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 6px;
    margin-right: 62px;
  }

  .u-section-1 .u-image-5 {
    width: 72px;
    height: 72px;
    margin-top: -384px;
    margin-right: 90px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -32px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -6px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    width: 89px;
    height: 89px;
    margin-top: -405px;
    margin-left: 413px;
  }

  .u-section-1 .u-image-7 {
    width: 371px;
    height: 485px;
    margin-top: 476px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-13 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -429px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -148px;
    margin-right: 157px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 57px;
    margin-right: 166px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 311px;
    margin-right: 153px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -326px;
    margin-right: 66px;
    margin-left: 582px;
  }

  .u-section-1 .u-image-9 {
    width: 375px;
    height: 486px;
    margin-top: -444px;
    margin-left: 59px;
  }

  .u-section-1 .u-image-10 {
    height: 87px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 75px;
    margin-right: 609px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-18 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -88px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 548px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 3px;
    margin-left: 178px;
  }

  .u-section-1 .u-image-11 {
    height: 344px;
    margin-top: 127px;
    margin-right: 204px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -405px;
    margin-right: 388px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 47px;
    margin-right: auto;
    margin-left: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-1 .u-image-1 {
    width: 206px;
    height: 292px;
    margin-top: 214px;
    margin-right: 245px;
  }

  .u-section-1 .u-image-2 {
    width: 230px;
    height: 289px;
    margin-top: -288px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -289px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 69px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 5px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -338px;
    margin-left: 83px;
  }

  .u-section-1 .u-image-4 {
    width: 215px;
    height: 292px;
    margin-top: -13px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -288px;
    margin-right: 45px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -6px;
    margin-right: 68px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 5px;
    margin-right: 54px;
  }

  .u-section-1 .u-image-5 {
    width: 76px;
    height: 76px;
    margin-top: -330px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    margin-top: -2px;
    margin-right: 268px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -4px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    margin-top: -4px;
    margin-right: 247px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 12px;
    margin-right: 295px;
  }

  .u-section-1 .u-image-6 {
    width: 82px;
    height: 82px;
    margin-top: -334px;
    margin-right: 307px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    width: 315px;
    height: 478px;
    margin-top: 427px;
    margin-right: auto;
    margin-left: 386px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -453px;
    margin-right: auto;
    margin-left: 423px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -141px;
    margin-right: auto;
    margin-left: 509px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 491px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 299px;
    margin-right: 117px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -334px;
    margin-right: 21px;
    margin-left: 406px;
  }

  .u-section-1 .u-image-9 {
    width: 301px;
    height: 482px;
    margin-top: -382px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -543px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 42px;
    margin-right: 476px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -78px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 42px;
    margin-right: 403px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 57px;
    margin-left: 112px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 95px;
    margin-right: 97px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -352px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 34px;
    margin-right: 117px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 254px;
    margin-top: 110px;
    margin-right: 174px;
  }

  .u-section-1 .u-image-2 {
    width: 181px;
    height: 254px;
    margin-top: -257px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -235px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 4px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 2px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 11px;
    margin-left: 49px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -288px;
    margin-left: 62px;
  }

  .u-section-1 .u-image-4 {
    width: 162px;
    height: 253px;
    margin-top: -19px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin-top: -224px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 34px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.625rem;
    margin-top: -3px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 24px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -281px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.25rem;
    margin-top: -12px;
    margin-right: 208px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: -1px;
    margin-right: 217px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.625rem;
    margin-top: 3px;
    margin-right: 186px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 21px;
    margin-right: 208px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -292px;
    margin-right: 220px;
  }

  .u-section-1 .u-image-7 {
    width: 257px;
    height: 406px;
    margin-top: 280px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.875rem;
    margin-top: -375px;
    margin-right: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: -128px;
    margin-right: 90px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 36px;
    margin-right: 82px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 250px;
    margin-right: 69px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: -267px;
    margin-right: -50px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-9 {
    width: 251px;
    height: 402px;
    margin-top: -317px;
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    margin-top: -445px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 52px;
    margin-right: 328px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.875rem;
    margin-top: -81px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-top: 37px;
    margin-right: 270px;
    margin-left: -23px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 24px;
    margin-left: 61px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 105px;
    margin-right: 36px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -326px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 33px;
    margin-left: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-1 .u-image-1 {
    width: 142px;
    height: 265px;
    margin-top: 53px;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 276px;
    width: 178px;
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -548px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 3px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 16px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-3 {
    width: 50px;
    height: 56px;
    margin-top: -284px;
    margin-left: 41px;
  }

  .u-section-1 .u-image-4 {
    width: 142px;
    height: 265px;
    margin-top: -26px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 79px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -6px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    width: 68px;
    height: 68px;
    margin-top: -291px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: -309px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    margin-top: -2px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    margin-top: 23px;
    margin-right: 33px;
  }

  .u-section-1 .u-image-6 {
    width: 66px;
    height: 66px;
    margin-top: -294px;
    margin-right: 39px;
  }

  .u-section-1 .u-image-7 {
    width: 144px;
    height: 308px;
    margin-top: 592px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: -281px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-8 {
    width: 73px;
    height: 75px;
    margin-top: -98px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
    margin-top: 18px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: 205px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.625rem;
    margin-top: -215px;
    margin-right: 17px;
    margin-left: 209px;
  }

  .u-section-1 .u-image-9 {
    height: 308px;
    width: 144px;
    margin-top: -244px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-10 {
    width: 65px;
    height: 72px;
    margin-top: -345px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.875rem;
    margin-top: 25px;
    margin-right: 151px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-top: -47px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.625rem;
    margin-top: 46px;
    margin-right: 155px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: 41px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 232px;
    margin-top: 65px;
    margin-right: 0;
  }

  .u-section-1 .u-image-12 {
    width: 99px;
    height: 99px;
    margin-top: -232px;
    margin-right: 209px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.25rem;
    margin-top: 43px;
    margin-left: 23px;
    margin-right: 23px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/EmlcxYkW8AQVUxv.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-image-1 {
  width: 1079px;
  height: 397px;
  margin: 133px 28px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -375px 353px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 55px 135px 0 346px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 346px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -324px;
    margin-right: 291px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 12px 20px 43px 261px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -271px;
    margin-right: 98px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -10px;
    margin-right: 13px;
    margin-left: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-image-1 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -322px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 21px;
    margin-bottom: 60px;
    margin-left: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-2 .u-image-1 {
    height: 196px;
    margin-top: 61px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -189px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin-right: 12px;
    margin-left: 50px;
  }
}